{
  "parserOptions": {
    "ecmaVersion": 9
  },
  "globals": {
    "describe": true,
    "before": true,
    "beforeEach": true,
    "it": true,
    "after": true,
    "afterEach": true
  },
  "env": {
    "node": true
  }
}
